
        body { 
            font-family: Arial, sans-serif;
            margin: 0;
            background-color: #b3f5fa;
        }
        
        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }
        h1 {
            color: #050505;
        }
        h2 {
            color: #000158;
        }
        p {
            color: #000000;
        }
        b {
            color: #272727;
        }
        
    .banner {
      background-color: #e0e0e0;
      color: rgb(255, 255, 255);
      padding: 20px;
      text-align: center;
    }

    .banner h1 {
      margin: 0;
      font-size: 2rem;
    }

    .banner p {
      margin: 5px 0;
      font-size: 1.2rem;
    }

    .opciones {
      margin-top: 15px;
    }

    .opciones a {
      text-decoration: none;
      color: #fff;
      background: #0070ff;
      padding: 10px 15px;
      margin: 0 5px;
      border-radius: 8px;
      transition: background 0.3s;
    }

    .opciones a:hover {
      background: #0055cc;
    }